[project]
name = "chimera"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "isort>=7.0.0",
    "pytest>=9.0.2",
]
