{
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": false,
    "arrowParens": "always",
    "printWidth": 100,
    "singleAttributePerLine": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrder": [
        "^react$",
        "^react-dom$",
        "^next/(.*)$",
        "^@[^/]+(/.*)?$",
        "^@/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"]
}
